<!DOCTYPE html>
<html>
<head>
    <title>Product</title>
    <style>
        form{
            width: 100%;
        }
        input{
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Product List</h1>
    <% for(var i=0; i<=10000; i++){%>
        <p><%= product[i] %></p>
    <%}%>

    <h1>Add Product</h1>
    <form id="addProductForm">
        <table>
            <tr>
                <td><input type="text" name="ProductCode" placeholder="ProductCode"></td>
            </tr>
            <tr>
                <td><input type="text" name="ProductName" placeholder="ProductName"></td>
            </tr>
            <tr>
                <td><input type="text" name="ProductData" placeholder="ProductData"></td>
            </tr>
            <tr>
                <td><input type="number" name="ProductOriginPrice" placeholder="ProductOriginPrice"></td>
            </tr>
            <tr>
                <td><input type="number" name="Quantity" placeholder="Quantity"></td>
            </tr>
            <tr>
                <td><input type="text" name="ProductStoreCode" placeholder="ProductStoreCode"></td>
            </tr>
            <tr>
                <td><button type="submit">Add Product</button></td>
            </tr>
        </table>
    </form>

    <h1>Delete Student</h1>
    <form id="deleteProductForm">
        <table>
            <tr>
                <td><input type="text" name="ProductCode" placeholder="ProductCode"></td>
            </tr>
            <button type="submit">Delete product</button>
        </table>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#addProductForm").submit(function(event) {
                event.preventDefault();

                var formData = $(this).serialize();
                alert(formData);
                $.ajax({
                    type: "POST",
                    url: "/product/add",
                    data: formData,
                    success: function(response) {
                        alert("Product added successfully");
                    },
                    error: function(error) {
                        alert("Error adding product");
                    }
                });
            });
        });
    </script>

<script>
    $(document).ready(function() {
        $("#deleteProductForm").submit(function(event) {
            event.preventDefault();

            var ProductCode = $(this).find("input[name='ProductCode']").val();
            $.ajax({
                type: "DELETE",
                url: "product/del/" + ProductCode,
                success: function(response) {
                    alert("Product deleted successfully");
                },
                error: function(error) {
                    alert("Error deleting product");
                }
            });
        });
    });
</script>
</body>
</html>
